/* Estilos del modal */
.dialog {
    background: var(--blanco);
    overflow-y: auto;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    animation: fadeIn 0.3s;
}

.dialog-title {
    background: var(--blanco);
    padding: 15px;
    border-bottom: 1px solid #ddd;
    font-size: 20px;
    text-align: center;
    border-radius: 10px 10px 0 0;
}

.dialog-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dialog-row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.dialog-input-container,
.dialog-select-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.dialog-input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 15px;
    font-size: 16px;
    width: 100%;
}

.dialog-select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.dialog-label {
    font-size: 16px;
    text-transform: capitalize;
}

.dialog-actions {
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
    border-top: 1px solid #ddd;
}

.toggle-text {
    display: inline-block;
    color: var(--vinoOsc);
    cursor: pointer;
    margin: 5px 10px 0 0;
    font-size: 11px;
    font-weight: 500;
    transition: color 0.6s ease;
}

.toggle-text:hover {
    color: var(--vinoClr);
    font-weight: 700;
}

.dialog-button {
    background: var(--vinoOsc);
    color: var(--blanco);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 5px;
}

.dialog-button:hover {
    background: #A02142;
}

.input-actions-container {
    display: flex;
    flex-direction: column;
}

.input-actions {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
}

.dialog-observation-container {
    margin-top: 10px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.dialog-header {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
  }
  
  .dialog-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .dialog-close-button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
  }
  
